.card{
	  padding: 20px;
	  display: flex;
	  flex-wrap: wrap;
	  flex-grow:1;
	  align-items: center;
	  justify-content: space-between;
	  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	  border-radius: 6px;
}

.card img{
	width:550px;
	border-radius: 6px;
	flex-grow:1;
}

.card a{
	flex-grow:1;
	text-align: center;
}